<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSTS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="bg-dark" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
  <nav class="navbar navbar-expand-lg bg-info py-3">
    <div class="container">
      <a class="navbar-brand  text-dark" href="#">DAILY JOURNAL</a>
      <button class="navbar-toggler bg-white " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item  text-dark ">
            <a class="nav-link active  text-dark " aria-current="page" href="/home">HOME</a>
          </li>
          <li class="nav-item mx-lg-5">
            <a class="nav-link active  text-dark" >ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  text-dark">CONTACT US</a>
          </li>
        </ul>
        <h5 class="ms-50px text-primary">admin</h5>
        <a class="ms-1" href="http://localhost:3000/log-in"><img style="width:50px; height:50px; border-radius:100%;"  src="s.jpg" alt=""></a>
      </div>
       
    </div>
  </nav>

 
        
        <div class="container my-5 text-white">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="my-3"><%=TITLE%></h1>
              <p class="my-2"><%=POST%></p>
            </div>
            <div class="col-lg-6">
              <img class=" mx-5 my-5 img-fluid" src=<%=image%> alt="image">
            </div>
          </div>
           
           
         </div>
    
        
    
     
    
      
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>     
</body>
<footer style="color: wheat; padding-top:100px;"  class="text-center">Seid Yesuf © 2022 </footer>

</html>